{% load staticfiles %}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CFB Challenge</title>
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/foundation.css' %}" />
    <script src="{% static 'home/js/vendor/modernizr.js' %}"></script>
  </head>

  <body>
    <div class="row">
      <div class="large-12 columns">
        <h1>College Football Fantasy</h1>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns text-center">
        <img src="{% static 'home/images/College-Football-Map.jpg' %}" width='600'/>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
      	<div class="panel">
	        <div class="row">
	        	<div class="large-4 medium-4 columns">
    	    		<p>
                <a href="/details"> 2014 Player Stats</a>
                <br />See the raw data for 2014 for each player.
              </p>
	    	    </div>
	        	<div class="large-4 medium-4 columns">
	        		<p>
                <a href="/details/predictions">Current Week's Predictions</a>
                <br />Each week we'll show the predicted scores for each player, so you can make a more informed pick.
              </p>
	        	</div>
	        	<div class="large-4 medium-4 columns">
	        		<p>
                <a href="/details">2015 Player Stats</a>
                <br />See the raw data for 2015 for each player.
              </p>
	        	</div>
					</div>
      	</div>
      </div>
    </div>
  </body>
</html>
