{% extends "layout.html" %}

{% block body %}

  {% if get_flashed_messages() %}
      {% for message in get_flashed_messages() %}
      <div data-alert class="alert-box">
        {{ message }}
      </div>
      {% endfor %}
  {% endif %}

<div class="large-9 columns">
  <table>
    <tr>
      <td colspan='6' align='center'>
        Passing
      </td>
      <td colspan='5' align='center'>
        Rushing
      </td>
    </tr>
    <tr>
      <td>
        Week
      </td>
      <td>
         Opponent
      </td>
      <td>
        Attempts
      </td>
      <td>
        Completions
      </td>
      <td>
        Yards
      </td>
      <td>
        Touchdowns
      </td>
      <td>
        Interceptions
      </td>
      <td>
        Attempts
      </td>
      <td>
        Yards
      </td>
      <td>
        Touchdowns
      </td>
      <td>
        ESPN Score
      </td>
    </tr>

    {% for stat in player_data %}

    <tr>
      <td>
        <!-- <a href="{% url 'game_detail' stat.game.id %}">{{ stat.game.week}}</a> -->
        {{ stat.game.week}}
      </td>
      <td>
        {{ stat.game.opponent }}
      </td>
      <td>
        {{ stat.pass_attempts }}
      </td>
      <td>
        {{ stat.pass_completions}}
      </td>
      <td>
        {{ stat.pass_yards }}
      </td>
      <td>
        {{ stat.pass_touchdowns }}
      </td>
      <td>
        {{ stat.interceptions }}
      </td>
      <td>
        {{ stat.rush_attempts}}
      </td>
      <td>
        {{ stat.rush_yards }}
      </td>
      <td>
        {{ stat.rush_touchdowns }}
      </td>
      <td>
        {{ stat.score }}
      </td>
    </tr>
{% endfor %}
  </table>
</div>
{% endblock %}
