<div id="contentBox" style="margin:0px auto; width:70%">
  <h1>{{ player.name }}</h1>
</div>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div id="contentBox" style="margin:0px auto; width:80%">
<table>
    <tr>
      <td>
        Date
      </td>
      <td>
         Opponent
      </td>
      <td>
        Passing Attempts
      </td>
      <td>
        Passes Completed
      </td>
      <td>
        Passing Yards
      </td>
      <td>
        Passing Touchdowns
      </td>
      <td>
        Interceptions
      </td>
    </tr>
  {% for stat in player_data %}
    <tr>
      <td>
        {{ stat.game.game_date}}
      </td>
      <td>
        {{ stat.game.opponent }}
      </td>
      <td>
        {{ stat.pass_attempts }}
      </td>
      <td>
        {{ stat.pass_completions}}
      </td>
      <td>
        {{ stat.pass_yards }}
      </td>
      <td>
        {{ stat.pass_touchdowns }}
      </td>
      <td>
        {{ stat.interceptions }}
      </td>
    </tr>
  {% endfor %}
</table>
</div>
