<div id="contentBox" style="margin:0px auto; width:70%">
  <h1>{{ player.name }}</h1>
</div>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div id="contentBox" style="margin:0px auto; width:90%">
<table>

    <tr>
      <td>
        Date
      </td>
      <td>
         Team
      </td>
      <td>
        Opponent
      </td>
      <td>
        Team Score
      </td>
      <td>
        Opponent Score
      </td>
      <td>
        Home or Away
      </td>
    </tr>
  {% for game in game_data %}
    <tr>
      <td>
        {{ game.game_date}}
      </td>
      <td>
        {{ game.team }}
      </td>
      <td>
        {{ game.opponent }}
      </td>
      <td>
        {{ game.your_score }}
      </td>
      <td>
        {{ game.opponent_score }}
      </td>
      <td>
        {{ game.home }}
      </td>
    </tr>
  {% endfor %}
</table>
</div>
